#bodyOne {
  width: 100vw;
  height: 100vh;
  background: url(https://cdn.discordapp.com/attachments/282502094202732544/850275989863137300/BackgroundTwo.png) no-repeat center center fixed;
  background-size: cover;
}
